.avatar {
    border-radius: 50%;
    width: 55px;
}

.avatar--alternative {
    background-color: #dee9fb;
    color: #3573c0;
    min-height: 55px;
    line-height: 55px;
    text-align: center;
}

.avatar--large {
     width: 95px;
     height: 95px;
     line-height: 95px;
    font-size: 2.5em;
 }