.modal {
    width: 450px;
    background-color: #ffffff;
    margin: auto;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}

.modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}

.modal__header {
    background-color: #f7f7f7;
    padding: 20px;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    margin: 0;
    font-size: 1em;
}

.modal__footer {
    padding: 10px 15px;
    background-color: #f7f7f7;
    border-top: 1px solid #e3e3e3;
    text-align: right;
}

.modal__content {
    padding-left: 18px;
    padding-right: 18px;
}

.modal__close-button {
    background: none;
    border: none;
    padding: 5px;
}