.person {
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    background-color: #ffffff;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.person__name {
    font-size: 18px;
    margin-top: 1em;

}

.person__phone {
    color: #71db81;
    margin-top: .3em;
}

.person__office {
    color: #6a6a6a ;
    font-size: 12px;
    margin-top: .5em;
}

.person__office .icon {
    margin-top: -.25em;
}
