.app {

}

.app__header {
  background-color: #404346;
  color: #ffffff;
}

.app__content {
  padding: 20px;
  position: relative;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.app__content--header {
  display: flex;
  justify-content: space-between;
}

.app__content--separator {
 border-top: 1px solid #f0f0f0;
}

.app__page-title {
  font-size: 16px;
}